<button (click)="principal()">Volver</button>

<div class="producto-detalle">
    <h2>{{ producto.nombre_producto}}</h2>
    <img [src]="producto.img" alt= "{{producto.nombre_producto}}">
    <p>{{ producto.descripcion_producto }}</p>
    <p>Precio: ${{ producto.precio }}</p>
  
    <!-- Selector de cantidad -->
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" [(ngModel)]="cantidad" min="1" max="10" />
  
    <button (click)="comprar()">Comprar</button>
    <div *ngIf="!producto.nombre_producto">
        <p>Error al cargar el producto. Inténtalo más tarde.</p>
      </div>
      
  </div>
  